*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: #212121;
}
h1{
    grid-column: 2;
    font-size: 60px;
    color: #B8D331;
}

.div_output{
    grid-column: 2;
    grid-row: 2;
}
#in_output {
    width: 80%;
    font-size: 50px;
    border: none;
}
#in_output:focus {
    border: solid 3px rgb(20, 138, 248);
}
.div_btn_options {
    grid-column: 2;
    grid-row: 3;
}
.btn_options {
    padding: 5px;
    border: none;
    margin: 3px;
    font-size: 50px;
    width: 15%;
}
.btn_options:hover {
    border: solid 3px rgb(20, 138, 248);
}
.div_btn_numbers {
    grid-column: 2;
    grid-row: 4;
}
.btn_numbers {
    padding: 5px;  
    margin: 4px;
    border: none;
    font-size: 50px;
    width: 30%;
}
.btn_numbers:hover {
    border: solid 3px rgb(20, 138, 248);
}
button {
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
}
input {
    border-radius: 25px; 
}
#btn_enter{
    grid-column: 3;
    grid-row: 3/5;
    padding: 5px;
    border: none;
    margin: 4px;
    margin-left: 10px;
    font-size: 50px;
}
#btn_enter:hover {
    border: solid 3px rgb(20, 138, 248);
}
#btn_reset {
    grid-column: 3;
    grid-row: 2;
    padding: 5px;
    border: none;
    margin: 4px;
    margin-left: 10px;
    font-size: 50px;
}
#btn_reset:hover {
    border: solid 3px rgb(20, 138, 248);
}
#btn_0 {
    width: 100%;
}