/*Style Rainbow
/*Style Titel*/
.h1_rainbow {
    color: #B8D331;
}
/*Style Output*/
.in_output_rainbow{
    background-color: #53C7CB;
    border: none;
}
.in_output_rainbow:focus{
    border: solid 3px rgb(20, 138, 248);
}
/*Style Enter*/
.btn_enter_rainbow {
    border: none;
}
.btn_enter_rainbow:hover {
    border: solid 3px rgb(20, 138, 248);
}
/*Style Reset*/
.btn_reset_rainbow {
    border: none;
}
.btn_reset_rainbow:hover {
    border: solid 3px rgb(20, 138, 248);
}

.btn_rainbow_darkred{
    border: none;
    background-color: #7E3759;
}
.btn_rainbow_darkred:hover {
    border: solid 3px rgb(20, 138, 248);
}
